body {
    background-image: url(https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    max-width: 1440px;
}

.navbar {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
}

#navbar-box {
    border-radius: 2%;
    height: 45px;
    width: 45%;
    background-color: rgba(196, 189, 189, 0.15);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#navbar-text{
    display: flex;
    color: white;
    font-size: 22px;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    text-decoration: none;
    text-shadow: 3px 3px #b6713c;
}

#navbar-text:hover{
    color: rgb(175, 80, 80);
}

.Link{
    color: white;
    text-decoration: none;
}

.error-page-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-page-image-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.error-page-subbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -55px;
}

.error-page-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#error-page-pic{
    width: 300px;
}

#error-page-text{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px #b6713c;
}

#error-page-subtext{
    font-size: 20px;
    /* font-style: italic; */
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #b6713c;
}

#error-page-button-text{
    background-color: #b6713c;
    border-radius: 50%;
    box-shadow: 2px 9px black;
    width: 120px;
    height: 60px;
    color: white;
    font-size: 15px;
    /* font-style: italic; */
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #b6713c;
}

#homepage-title{
    font-size: 150px;
    font-weight: bold;
    margin-top: 250px;
    text-align: center;
    text-shadow: 3px 4px #b6713c;
}

#homepage-subtitle{
    font-size: 40px;
    font-style: italic;
    margin-top: -135px;
    text-align: center;
    text-shadow: 3px 3px #b6713c;
}

#title-text{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 4px #b6713c;
}

.department-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 20px;
}

#department-box-breakfast{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 50%;
}

#department-box-entrees{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 50%;
}

#department-box-desserts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 50%;
}

#department-box-sides{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 50%;
}

#breakfast-main-image{
    border-radius: 20px;
    width: 75%;
}

#entrees-main-image{
    border-radius: 20px;
    width: 75%;
}

#desserts-main-image{
    border-radius: 20px;
    width: 75%;
}

#sides-main-image{
    border-radius: 20px;
    width: 75%;
}

#department-box-text{
    font-size: 30px;
    justify-content: center;
    text-align: center;
    text-shadow: 3px 4px #b6713c;
}

#department-box-subtext{
    font-size: 20px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-shadow: 3px 4px #b6713c;
}

#recipes-explore{
    font-size: 55px;
    text-align: center;
    text-shadow: 3px 4px #b6713c;
}